#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/usr/share/icons/elementary/apps/128/utilities-terminal.svg
Name[en_GB]=URxvt Terminal
Exec=urxvt
Name=URxvt Terminal
